body, :root {
    margin: 0;
    padding: 0;
    padding-top: 3rem;
}

body {
    background-color: #8c8989;
    color: #cccccc;
}

.button-primary {
    background-color: #FF4081;
    color: #FFFFFF;
}

.button-secondary {
    background-color: #3D5AFE;
    color: #FFFFFF;
}
